body {
  font-family: sans-serif;
  background-color: grey;
}

div:not(.hidden) {
  font-family: monospace;
  color: darkred;

}

form {
  font-size: 18px;
}

#range {
  position: absolute;
  z-index: -1;
  top: 16%;
  left: 10%;
  max-width: 40%;
}

.btn {
  border-bottom: 2px;
  border-color: darkred;
  border-style: groove;
  position: absolute;
  opacity: .5;
  top: 15%;
  left: 10%;
  max-width: 45%;
  overflow-x: hidden;
}

.jumbotron {
  background-color: tan;
  margin-top: 10vw;
}

.hidden {
  display: none;
}
